{% extends "base.html" %}
{% load static %}
{% block title %}
<title> Sign-Up</title>
{% endblock title %}

{% block content %}
<div class="create-cont">
    <div class="container">
        <div class="row">
            <form method="POST" action="{% url 'shopingcentre:update_profile' %}">
                {% csrf_token %}
                <section class="form-container">
                    <div class="form-group">
                        <h1 class="text">Fill the Form Below to Update Your Profile</h1>
                        {% if form.errors%}
                            <p class="color" style="color: white; background-color: red; width: 270px; padding: 20px;">Please Check Your Entries and try again</p>
                        {% endif %}
                                {{user_form.phone}}
                                {{user_form.address}}
                                {{user_form.city}}
                                {{user_form.country}}
                            
                        <div class="account-auth">
                            <button type="submit" class="btn">Update Profile</button>
                            <a class="login-link" href=" {% url "shopingcentre:home" %}">Back</a>
                        </div>
                    </div>
                </section>
                
            </form>
        </div>
    </div>
</div>
{% endblock content %}